*{
  box-sizing: border-box;

}

.solink {
  list-style: none;
}
.solink li{
  margin-top: 1vh;
  margin-right: 0.5vh;
}
@keyframes floating{
0%{
  transform: translateY(1%)
}
50%{
  transform: translateY(50%)
}
100%{
  transform: translateY(1%)
}

}

 a:link, a:visited{
  text-decoration: none;
  color: #e6beae;
  transition-duration: 1s;
}

.landing{
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.social{
  position: fixed;
  right: 1%;
  display: block;
  font-size: 2em;
  text-align: center;
  top: 0%;
  overflow: visible;
  z-index: 1;
}

.solink {
  list-style: none;
}
.solink li{
  margin-top: 1vh;
  margin-right: 0.5vh;
}
.namepres{
  width: 100%;
  height: 100vh;
  top:0;
  bottom: 0;
  text-align: center;
  padding:0;

}

.namepres h1{
  font-family: 'Roboto Mono', monospace;
  font-weight: normal;
  font-size: 5em;
}
.namepres h4{
  border-top-width: 30%;
  font-family: 'Roboto', sans-serif;
  font-weight:   lighter;
  font-size:  large;
}

.myname{
  text-align: center;
  align-content: center;
  font-size: xx-large;
  margin-top: 40vh;
  left: 50%;
}

body, html{
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #232526, #414345);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #e6beae;
  box-sizing: border-box;
  transition: all 2s ease-in;
}
@media only screen and (min-width: 800px) {
  a:hover{
  font-size: 1.25em;
}
.landing{
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

a:hover{
  font-size: 1.25em;
}

.social{
  position: fixed;
  right: 1%;
  display: block;
  font-size: 2em;
  text-align: center;
  top: 0%;
  overflow: visible;
  z-index: 1;
}

.solink {
  list-style: none;
}
.solink li{
  margin-top: 1vh;
  margin-right: 0.5vh;
}
.namepres{
  width: 100%;
  height: 100vh;
  top:0;
  bottom: 0;
  text-align: center;
  padding:0;


}

.namepres h1{
  font-family: 'Roboto Mono', monospace;
  font-weight: normal;
  font-size: 5em;
}
.namepres h4{
  border-top-width: 30%;
  font-family: 'Roboto', sans-serif;
  font-weight:   lighter;
  font-size:  large;
}

.myname{
  text-align: center;
  align-content: center;
  font-size: xx-large;
  margin-top: 40vh;
  left: 50%;
}


.fa-angle-double-down{

  position: absolute;
  color: #e6beae;
  font-size: 4em;
  font-weight:lighter;
  left: 48%;
  bottom: 0;
  margin-bottom: 5vh;
  animation: floating 4s ease infinite;
 }

.about{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: block;
  padding: 0;
  font-family: 'Roboto Mono', monospace;

 }

.fixed{
  position: fixed;
  left: 2%;
  top: 2%;
}

.topbar {
  position: relative;
background-color:  #414345;
list-style-type: none;
font-family: 'Roboto', sans-serif;
text-align: left;
font-size: 1.2em;
padding: 0;
width: 150px;


}



.topbar li a{
display: block;
padding: 5vh 1vh ;
text-decoration: none;
text-align: center;
}

.here:link , .here:visited {
  color: #536976;
  background-color:  #e6beae;
}

.totop{
position: sticky;
top: 90vh;
left: 95%;
width:0%;
}

.darest .totop{
  position: fixed;
  bottom: 0;
  right:0;
}
.fa-angle-double-up{
  font-size: 4em;

}

.myinfo h1{
  font-weight: light;
}

p{

  text-align: center;
}

.myinfo{
  border-radius: 2%;
  display: block;
  box-sizing: border-box;
  width: 60%;
  height: 100%;
  margin-left: 20%;
  margin-right: 20%;
  align-content: center;
  justify-content: center;
  text-align: center;
  background-color: #414345df;
  margin-top: 0%;

}

.darest{
  font-family: 'Roboto Mono', monospace;
  box-sizing: border-box;
  display: block;

  width: 100%;
  height: 100vh;
  margin: 0vh;
  padding: 0;
  text-align: center;
}

.about ul{
  text-align: left;
  margin: 2vh 4vh;
}
.subl ul{
  padding:1em;
}
.subl li{
  padding:1em;
  list-style-type: none;
}


.threecol{
 position: relative;
 top: 10%;
 display: flex;
 flex-wrap: wrap;
 margin-right: 18%;
 margin-left: 22%;
 padding: 0;
 width: 60%;
 justify-content: center;
}

.threecol a:link, .threecol a:visited{
  color: whitesmoke;

}

.threecol a:hover{
  font-size: initial;
}

.num1 , .num2 , .num3{
  border-radius: 3%;
  background-color: #414345df;
  height: 30%;
}

.num2{
  margin-top: 2vh;

}

.num3{
  margin-top: 2vh;

}

.skls{
  border-radius: 2%;
  display: flex;
  flex-wrap: wrap;

  width: 60%;
  height: 100%;
  margin-left: 20%;
  margin-right: 20%;

  background-color: #414345df;
  margin-top: 2%;
  padding: 0;
}
.skls h1{
width: 100%;
margin-bottom: 0;
}
.onesk{
  margin-top: 5vh;
  margin-bottom: 0;
  font-size: 4vh;
  width: 25%;
  overflow-wrap: break-word;

}

.darest ul{
  text-align: left;
}

.exp{

  border-radius: 2%;
  display: block;
  box-sizing: border-box;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  align-content: center;
  justify-content: center;
  text-align: center;
  background-color: #414345df;
  height: 100%;

}

}

@media only screen and (max-width: 800px) {

.topbar a:hover{
  color: #414345;
  background: #e6beae;
}

.fixed{
position:  fixed;
left: 0%;
top: 0%;
width: 100%;
}


.landing{
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  width: 100%;
  margin: 0;
}
.topbar{
  padding: 0.05vh;

  position: sticky;
  top: 0;
  left:0;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  text-align: center;
  background: #414345;
  margin: 0;
  margin-bottom:0;
  font-size: 1.5em;
  z-index: 1;
 }

 .topbar li {
display: inline;
padding: 2%;
text-decoration: none;
text-align: center;
z-index: 1;
}

.social{
  position:  relative;
 background: #414345;

  font-size: 1.51em;
  width: 100%;
  padding-top: 1%;
  /* bottom: 0; */
  overflow: visible;
  z-index: 0;

}
.solink {
  list-style:  none;
}
.solink li{
  display: inline;
  margin-right: 0.5vh;
}

.exp{

  border-radius: 2%;
  display: block;
  box-sizing: border-box;
  width: 99%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  align-content: center;
  justify-content: center;
  text-align: center;
  height: 100%;

}

.exp ul{
  text-align: left;
  margin: 2vh 4vh;
}
.subl ul{
  padding:1em;
}
.subl li{
  padding:1em;
  list-style-type: none;
}
.sklsh1{
width: 100%;
text-align: center;
margin-bottom: 0;
}

.skls{
  display: flex;
  flex-wrap: wrap;
  padding: 0.5em;

}

.onesk{
width: 25%;
text-align: center;
font-size: x-large;
overflow-wrap: break-word;
}

.threecol{
 position: absolute;
 top: 10%;
 display: flex;
 flex-wrap: wrap;
 margin-right: 5%;
 margin-left: 5%;
 padding: 0;
 width: 90%;
 justify-content: center;
 z-index:-1;
}

.threecol a:link, .threecol a:visited{
  color: whitesmoke;

}
.threecol h1{
  text-align: center;
}
.threecol a:hover{
  font-size: initial;
}

.num1 , .num2 , .num3{
  border-radius: 3%;
  background-color: #414345df;
  z-index:0;
  text-align: center;
}

.num2{
  margin-top: 2vh;

}

.num3{
  margin-top: 2vh;

}
.totop{
  z-index: 1;
}
.totop{
  position: fixed;
  bottom: 0;
  right:0;
}

.landing{
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.landing .social{
  position: relative;
  right: 1%;
  display: block;
  font-size: 2em;
  text-align: center;
  top: -5em;
  overflow: visible;
  background: none;

}

.fa-angle-double-down{
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 2em;
}
.totop{
  font-size: 2em;
}
}
